body {
  background: url('../img/pizzabox.jpg) no-repeat center center fixed;
  -webkit-background-size: pizzabox;
  -moz-background-size: pizzabox;
  background-size: pizzabox;
  -o-background-size: pizzabox;
}

#body_description
{
	color: #ffffff;
	
}